<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>GHG - Driver's Profile</title>
    <link rel="stylesheet" href="/css/app.css" />
</head>

<body>
    <header>

        <div id="top-box">
            <div id="top-text">
                <h1>Profile Page</h1>
            </div>
        </div>

        <div class="nav-wrapper">
            <div id="left-nav">
                <a href="/cars/aboutUs">About Us</a>
                <a href="/cars/showroom" class="add-pipe">Show Room</a>
                <a href="/cars/addCar/?driverId=<%=driver.id%>" class="add-pipe">Add a Car</a>
                <a href="/drivers/personalGarage" class="add-pipe">Personal Garage</a>
            </div>
            <div id="right-nav">
                
            </div>
        </div>
            <div class="red-line"></div>
    </header>

    <% /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-ADD CONTENT HERE-@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */ %>
    <div class="content">
        <div class="profileCredentials">
            <h1>
                Welcome <%= driver.name %>
            </h1>
            <form action="/drivers/profile/<%=driver.id%>?_method=PUT" method="POST">
                Name : <input type="text" name="name" value="<%= driver.name %>"></input> <br />
                Username: <input type="text" name="username" value="<%= driver.username %>"></input><br />
                Password: <input type="text" name="password" value="<%=driver.password %>"></input><br />
                <label for="gender">Gender:</label>
                <select name="gender" id="gender">
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="other">Other</option>
                </select><br />
                Age: <input type="number" name="age"  value="<%= driver.age%>"></input><br />
                Experience:<input type="number"  name="drivingExperience" value="<%= driver.drivingExperience %>"></input><br /><br />
                <input type="submit" value="Edit"><br /><br />
            </form>

            <form action="/drivers/<%=driver.id%>?_method=DELETE" method="POST">
                <input type="submit" value="Delete" />
            </form>

        </div>

    </div>
    <% /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-ADD CONTENT HERE-@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */ %>

    <footer class="footer">
        <div class="nav-wrapper-footer">
            <div id="center-nav">
                <a href="https://twitter.com/head_garage" target="_blank">Twitter</a>
                <a href="https://www.facebook.com/profile.php?id=100055866800268" class="add-pipe" target="_blank">Facebook</a>
                <a href="https://www.instagram.com/gearheadgarage__/" class="add-pipe" target="_blank">Instagram</a>
                <a href="/cars" class= "add-pipe"> GHG Homepage </a>
            </div>
        </div>
    </footer>
</body>

</html>