<ul class= allMadeCars >
    <% for(let i = 0; i <cars.length; i++) {%>
        <li>
            <a class="carMMY" href="/cars/<%=cars[i].id%>"> <%=cars[i].year%> <%=cars[i].name%> <%=cars[i].model%> </a>

            <form action="/cars/<%=cars[i].id%>?_method=DELETE" method="POST">
                <input type="submit" value="Delete" />
            </form>

            <a class="editACar" href="/cars/<%=cars[i].id%>/edit"> Edit Car </a>
        </li>
        <br/>
    <% } %>
</ul>

<div class="overlay">
    <div>
        class="text"><%=driver.Cars[i].year%><br /><%=driver.Cars[i].make%><br /><%=driver.Cars[i].model%><br />
        <form action="/cars/<%=driver.Cars[i].id%>?_method=DELETE" method="POST">
            <input type="submit" value="Sell Car" />
        </form>
    </div>
</div>