<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>GHG - Show Room</title>
    <link rel="stylesheet" href="/css/showRoom.css" />
</head>

<body>
    <header>

        <div id="top-box">
            <div id="top-text">
                <h1>Gear Head Garage - Show Room</h1>
            </div>
        </div>

        <div class="nav-wrapper">
            <div id="left-nav">
                <a href="/cars/aboutUs">About Us</a>
                <a href="/cars/showRoom" class="add-pipe">Show Room</a>
            </div>
            <div id="right-nav">
                <a href="/auth/signup">Register</a>
                <a href="/auth/login" class="add-pipe">Login</a>
            </div>
        </div>
        <div class="red-line"></div>
    </header>

    <% /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-ADD CONTENT HERE-@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */ %>
    <div class="content">
        <div id="showRoom">
            <div class= "showRoomCars">
                    <% for(let i = 0; i <cars.length; i++) {%>
                        <div class='car-list'>
                             <%=cars[i].year%> <%=cars[i].make%>
                             <%=cars[i].model%> 
                             <img class="thumbnail" src="<%=cars[i].imageURL%>"
                             alt="picture of car" srcset=""/>
                             <div class="overlay">
                                <div class="text"><%=cars[i].year%><br/><%=cars[i].make%><br/><%=cars[i].model%><br/></div>
                              </div>
                        </div>
                    <% } %>
            </div>    
        </div>
    </div>
    <% /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-ADD CONTENT HERE-@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */ %>

    <footer class="footer">
        <div class="nav-wrapper-footer">
            <div id="center-nav">
                <a href="https://twitter.com/head_garage" target="_blank">Twitter</a>
                <a href="https://www.facebook.com/profile.php?id=100055866800268" class="add-pipe" target="_blank">Facebook</a>
                <a href="https://www.instagram.com/gearheadgarage__/" class="add-pipe" target="_blank">Instagram</a>
                <a href="/cars" class= "add-pipe"> GHG Homepage </a>
            </div>
        </div>
    </footer>
</body>

</html>

