<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>GHG - Show Room</title>
    <link rel="stylesheet" href="/css/app.css" />
</head>

<body>
    <header>

        <div id="top-box">
            <div id="top-text">
                <h1>Gear Head Garage - Show Room</h1>
            </div>
        </div>

        <div class="nav-wrapper">
            <div id="left-nav">
                <a href="#">About Us</a>
                <a href="#" class="add-pipe">Show Room</a>
                <a href="#" class="add-pipe">Add a Car</a>
            </div>
            <div id="right-nav">
                <a href="/drivers">Register</a>
                <a href="/drivers" class="add-pipe">Login</a>
            </div>
        </div>
        <div class="red-line"></div>
    </header>

    <% /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-ADD CONTENT HERE-@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */ %>
    <div class="content">
        <div id="allCars">
            <div class= "allCarsContent">
                <ul class= allMadeCars >
                    <% for(let i = 0; i <Car.length; i++) {%>
                        <li>
                            <a class="carMMY" href="/cars/<%=cars[i].id%>"> <%=cars.year%> <%=cars.name%> <%=cars.model%> </a>
            
                            <form action="/cars/<%=cars[i].id%>?_method=DELETE" method="POST">
                                <input type="submit" value="Delete" />
                            </form>
            
                            <a class="editACar" href="/cars/<%=cars[i].id%>/edit"> Edit Car </a>
                        </li>
                        <br/>
                    <% } %>
                </ul>

            </div>    
        </div>
    </div>
    <% /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-ADD CONTENT HERE-@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */ %>

    <footer class="footer">
        <div class="nav-wrapper-footer">
            <div id="center-nav">
                <a href="#">Twitter</a>
                <a href="#" class="add-pipe">Facebook</a>
                <a href="#" class="add-pipe">Instagram</a>
                <a href="/cars" class= "add-pipe"> GHG Homepage </a>
            </div>
        </div>
    </footer>
</body>

</html>

